transformers==4.46.3
bitsandbytes>=0.41.0
tensor-parallel==1.2.8
scipy
datasets>=2.14.0
pandas>=2.0.0
scikit-learn
prettytable
gradio
torch==2.5.1
setuptools>=68.0.0
dill>=0.3.7
fire
numpy>=1.26.0
sentencepiece==0.1.99
accelerate
colorama